<?xml version="1.0" encoding="UTF-8" ?>

<configuration debug="false">

    <!-- 控制台 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <!--&lt;!&ndash; 出错日志 appender  &ndash;&gt;-->
    <!--<appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash; 按天回滚 daily &ndash;&gt;-->
            <!--&lt;!&ndash; log.dir 在maven profile里配置 &ndash;&gt;-->
            <!--<fileNamePattern>${log.dir}/es-error-%d{yyyy-MM-dd}.log</fileNamePattern>-->
            <!--&lt;!&ndash; 日志最大的历史 60天 &ndash;&gt;-->
            <!--<maxHistory>60</maxHistory>-->
        <!--</rollingPolicy>-->
        <!--<encoder>-->
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->
    <!--&lt;!&ndash; 访问日志 appender  &ndash;&gt;-->
    <!--<appender name="ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash; 按天回滚 daily &ndash;&gt;-->
            <!--<fileNamePattern>${log.dir}/es-access-%d{yyyy-MM-dd}.log</fileNamePattern>-->
            <!--&lt;!&ndash; 日志最大的历史 60天 &ndash;&gt;-->
            <!--<maxHistory>60</maxHistory>-->
        <!--</rollingPolicy>-->
        <!--<encoder>-->
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <!--&lt;!&ndash; 访问日志 appender  &ndash;&gt;-->
    <!--<appender name="SYS-USER" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash; 按天回滚 daily &ndash;&gt;-->
            <!--<fileNamePattern>${log.dir}/es-sys-user-%d{yyyy-MM-dd}.log</fileNamePattern>-->
            <!--&lt;!&ndash; 日志最大的历史 60天 &ndash;&gt;-->
            <!--<maxHistory>60</maxHistory>-->
        <!--</rollingPolicy>-->
        <!--<encoder>-->
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

    <!--<logger name="org.apache" level="debug">-->
        <!--<appender-ref ref="STDOUT"/>-->
    <!--</logger>-->

    <!--&lt;!&ndash;错误日志&ndash;&gt;-->
    <!--<logger name="es-error" level="info">-->
        <!--<appender-ref ref="ERROR"/>-->
    <!--</logger>-->
    <!--&lt;!&ndash;访问日志&ndash;&gt;-->
    <!--<logger name="es-access" level="info">-->
        <!--<appender-ref ref="ACCESS"/>-->
    <!--</logger>-->
    <!--&lt;!&ndash;系统用户操作日志&ndash;&gt;-->
    <!--<logger name="es-sys-user" level="info">-->
        <!--<appender-ref ref="SYS-USER"/>-->
    <!--</logger>-->

    <!--&lt;!&ndash; cache &ndash;&gt;-->
    <!--<logger name="com.sishuok.es.extra.aop" level="info">-->
            <!--<appender-ref ref="STDOUT"/>-->
    <!--</logger>-->

</configuration>



